<h2>Servers policy</h2>
                    <a class="buttonLine" href="#">Add a test server</a> | <a class="buttonLine" href="#">Add a Result server</a>
                    <div>
                        <label style="display:inline;" for="testServer">Choose a test server : </label>
                        <select style="display:inline;" name="testServer" id="testServer">
                            <option value="local">Localhost</option>
                            <option value="local">Test Server 1 (nodejs)</option>
                            <option value="local">Test Server 2 (nodejs)</option>
                        </select>
                    </div>

                    <div>
                        <label style="display:inline;" for="ResultServer">Choose a Result server : </label>
                        <select style="display:inline;" name="ResultServer" id="ResultServer">
                            <option value="local">Localhost</option>
                            <option value="local">Result Server 1 (nodejs)</option>
                            <option value="local">Result Server 2 (nodejs)</option>
                        </select>
                    </div>

                    <p>Define node Server capacity of the platform</p>
                    <p>Define node Server capacity for the test server</p>
                    <p>Define node Server capacity for the result server</p>