@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Comfortaa:wght@700&family=Jost:wght@500&display=swap');

 body {
     max-width: 1400px;
     margin: 20px auto;
     padding: 0 20px;
     font-family: 'Jost', sans-serif;
 }

 p,
 h1,
 h2,
 h3,
 a,
 ul {
     margin: 0;
     padding: 0;
     text-decoration: none;
     color: #222;
 }

 /* nav & footer styles */
 nav {
     display: flex;
     justify-content: space-between;
     margin-bottom: 60px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
     text-transform: uppercase;
 }

 nav ul {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

 nav li {
     list-style-type: none;
     margin-left: 20px;
 }

 nav h1 {
     font-size: 3em;
 }

 nav p,
 nav a {
     color: #777;
     font-weight: 300;
 }

 footer {
     color: #777;
     text-align: center;
     margin: 80px auto 20px;
 }

 h2 {
     margin-bottom: 40px;
 }

 h3 {
     text-transform: capitalize;
     margin-bottom: 8px;
 }

 .content {
     margin-left: 20px;
 }



 .info{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0.5em 5em;
 }
 
 /* details styles */
 .details {
     position: relative;
 }

.actionBT{
    border-bottom: 3px solid crimson;
    padding: 8px; 
}

.actionBT:hover{
    cursor: pointer;
    border-top: 3px solid teal;
    border-bottom: 3px solid crimson;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

 /* index styles */
.single h3 {
    color: teal;
}

.single h3:hover {
    color: crimson;
}


.single{
    display: block;
    margin: 15px 0;
    padding-left: 30px;
    padding-top:10px ;
    padding-bottom:10px ;
    border-left: 6px solid crimson;
    border-top : 1px dotted gainsboro;
    box-shadow:  1px 2px 3px rgba(0, 0, 0, 0.2);
}


.single:hover{
    border-left : 6px solid teal;   
    box-shadow:  3px 4px 5px rgba(0, 0, 0, 0.2);
}

 .start {
    position: absolute;
    top: 0;
    right: 50px;
   
}

.edit {
    position: absolute;
    top: 0;
    right: 100px;
}

.seeResults {
     position: absolute;
    top: 0;
    right: 150px;
}

 .delete {
     position: absolute;
     top: 0;
     right: 0;
 }

 .logotipi{
    width: 40px;
    /* left: 123px; */
    margin-top: 27px;
    position: absolute;
    display: inline;
 }

 .content h1{
    color : teal;
 }
 

 /* create styles */
 .create-blog form {
     max-width: 650px;
     margin: 0 auto;
 }

 .create-blog input,
 .create-blog textarea {
     display: block;
     width: 100%;
     margin: 10px 0;
     padding: 8px;
 }

 .create-blog label {
     display: block;
     margin-top: 24px;
 }

 textarea {
     width: 100%;
     height: 150px;
 }

 .create-blog button {
     margin-top: 20px;
     background: crimson;
     color: white;
     padding: 15px;
     border: 0;
     font-size: 0.7em;
     cursor: pointer;
 }

 form h2 {
     font-size: 2.4em;
     font-weight: 900;
     margin-bottom: 40px;
 }

 form {
     width: 600px;
     margin: 0 auto;
     padding: 30px;
     box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     background: white;
 }

 input {
     padding: 10px 12px;
     border-radius: 4px;
     border: 1px solid #ddd;
     font-size: 1em;
     width: 100%;
 }

 label {
     display: block;
     margin: 20px 0 10px;
 }

 button {
     margin-top: 30px;
     border-radius: 36px;
     background: teal;
     border: 0;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 0.8em;
     display: block;
     padding: 10px 16px;
     letter-spacing: 2px;
     cursor: pointer;
     color:whitesmoke;
 }

 #user-data{
    color: teal;
    font-size: x-small;
 }

.steps{
    margin-left: 25%;
    font-size: 15px;
}
 
.pubready{
    display : none;
    margin-left: 25%;
    font-size: 3em;
}

 .centeredTitle{
    max-width: 650px;
    margin: 0 auto;
 }

 .addEntry{
    text-align: -webkit-right;
    text-align: -moz-right;
 } 
 
 .groups{
    margin-top: 20px;
 }

 .buttNext{
    width: 100%;
    text-align: -webkit-right;
    text-align: -moz-right;
 }

 #form-wizard .form-step {
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Assurez-vous que la largeur correspond à votre design */
}

.form-step.moving-left {
    transform: translateX(-100%);
}

.cache{
    display:none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

#previewArea{
    margin-top: 20px;
    background-color: aliceblue;
}

.details{
    border-radius: 5px;
    border: 1px teal solid;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #c5d5c5d5, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #c5d5c5d5, 5px 5px 15px 5px rgba(0,0,0,0);
}

.filters{
    display: none;        /* Active Flexbox pour le conteneur */
    justify-content: left; /* Centre les éléments horizontalement */
    align-items: center;  /* Optionnel: aligne les éléments verticalement au centre */

    border-radius: 5px;
    border : 1px teal solid;
    padding : 5px;
}
.afilter{
    margin: 10px; 
    border : 1px grey solid;
    border-radius: 5px;
    padding : 5px;
    width : fit-content;
}

.afilter label{
    
    display: block;
    margin: 0px 0 0px;
}

.active-link {
    border-bottom: 5px solid crimson; /* rouge ou toute autre couleur désirée */
    display: inline-block;
  }

   .addStudent{
    width : 25px;
  } 

  .addStudent:hover{
    width : 35px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

#linkToTest{
    color : blue;
    text-decoration: underline;

}