@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Comfortaa:wght@700&family=Jost:wght@500&display=swap');

 body {
     max-width: 1400px;
     margin: 20px auto;
     padding: 0 20px;
     font-family: 'Jost', sans-serif;
 }

 p,
 h1,
 h2,
 h3,
 a,
 ul {
     margin: 0;
     padding: 0;
     text-decoration: none;
     color: #222;
 }

 /* nav & footer styles */
 nav {
     display: flex;
     justify-content: space-between;
     margin-bottom: 60px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
     text-transform: uppercase;
 }

 nav ul {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

 nav li {
     list-style-type: none;
     margin-left: 20px;
 }

 nav h1 {
     font-size: 3em;
 }

 nav p,
 nav a {
     color: #777;
     font-weight: 300;
 }

 footer {
     color: #777;
     text-align: center;
     margin: 80px auto 20px;
 }

 h2 {
    /*  margin-bottom: 40px; */
 }

 h3 {
     text-transform: capitalize;
     margin-bottom: 8px;
 }

 .content {
     margin-left: 20px;
 }



 .info{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0.5em 5em;
 }
 
 /* details styles */
 .details {
     position: relative;
 }

.actionBT{
    border-bottom: 3px solid crimson;
    padding: 8px; 
}

.actionBT:hover{
    cursor: pointer;
    border-top: 3px solid teal;
    border-bottom: 3px solid crimson;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.actionGroup{
    text-align: center;
}

.actionGroup img{
    margin-left:5px;
}

.actionGroup img:hover{
    box-shadow: 1px 2px 3px rgba(73, 72, 72, 0.2);
    background-color: #e2e9f6;    
}


 /* index styles */
.single h3 {
    color: teal;
}

.single h3:hover {
    color: crimson;
}


.single{
    cursor: pointer;
    display: block;
    margin: 15px 0;
    padding-left: 30px;
    padding-top:10px ;
    padding-bottom:10px ;
    border-left: 6px solid crimson;
    border-top : 1px dotted gainsboro;
    box-shadow:  1px 2px 3px rgba(0, 0, 0, 0.2);
}


.single:hover{
    border-left : 6px solid teal;   
    box-shadow:  3px 4px 5px rgba(0, 0, 0, 0.2);
}

 .start {
    display: none;
    position: absolute;
    top: 0;
    right: 50px;
   
}

.edit {
    position: absolute;
    top: 0;
    right: 50px;
}

 .delete {
     position: absolute;
     top: 0;
     right: 0;
 }

 .logotipi{
    width: 40px;
    /* left: 123px; */
    margin-top: 27px;
    position: absolute;
    display: inline;
 }

 .content h1{
    color : teal;
 }

 .content h2{
    color : teal;
 }
 

 /* create styles */
 .create-blog form {
     max-width: 650px;
     margin: 0 auto;
 }

 .create-blog input,
 .create-blog textarea {
     display: block;
     width: 100%;
     margin: 10px 0;
     padding: 8px;
 }

 .create-blog label {
     display: block;
     margin-top: 24px;
 }

 textarea {
     width: 100%;
     height: 150px;
 }

 .create-blog button {
     margin-top: 20px;
     background: crimson;
     color: white;
     padding: 15px;
     border: 0;
     font-size: 0.7em;
     cursor: pointer;
 }

 form h2 {
     font-size: 2.4em;
     font-weight: 900;
     margin-bottom: 40px;
 }

 form {
     width: 600px;
     margin: 0 auto;
     padding: 30px;
     box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     background: white;
 }

 input {
     padding: 10px 12px;
     border-radius: 4px;
     border: 1px solid #ddd;
     font-size: 1em;
     width: 100%;
 }

 label {
     display: block;
     margin: 20px 0 10px;
 }

 button {
     margin-top: 30px;
     border-radius: 36px;
     background: teal;
     border: 0;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 0.8em;
     display: block;
     padding: 10px 16px;
     letter-spacing: 2px;
     cursor: pointer;
     color:whitesmoke;
 }

 #user-data{
    color: teal;
    font-size: small;
 }

.steps{
    margin-left: 25%;
    font-size: 15px;
}
 
.pubready{
    display : none;
    margin-left: 25%;
    font-size: 3em;
}

 .centeredTitle{
    max-width: 650px;
    margin: 0 auto;
 }

 .addEntry{
    text-align: -webkit-right;
    text-align: -moz-right;
 } 
 
 .groups{
    margin-top: 20px;
 }

 .buttNext{
    width: 100%;
    text-align: -webkit-right;
    text-align: -moz-right;
 }

 #form-wizard .form-step {
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Assurez-vous que la largeur correspond à votre design */
}

.form-step.moving-left {
    transform: translateX(-100%);
}

.cache{
    display:none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

#previewArea{
    margin-top: 20px;
    background-color: aliceblue;
}

.details{
    border-radius: 5px;
    border: 1px teal solid;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #c5d5c5d5, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #c5d5c5d5, 5px 5px 15px 5px rgba(0,0,0,0);
}

.filters{
    display: none;        /* Active Flexbox pour le conteneur */
    justify-content: left; /* Centre les éléments horizontalement */
    align-items: center;  /* Optionnel: aligne les éléments verticalement au centre */

    border-radius: 5px;
    border : 1px teal solid;
    padding : 5px;
}
.afilter{
    margin: 10px; 
    border : 1px grey solid;
    border-radius: 5px;
    padding : 5px;
    width : fit-content;
}

.afilter label{
    
    display: block;
    margin: 0px 0 0px;
}

.active-link {
    border-bottom: 5px solid crimson; /* rouge ou toute autre couleur désirée */
    display: inline-block;
  }

   .addStudent{
    width : 25px;
    display:none;
  } 

  .addStudent:hover{
    width : 35px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

#linkToTest{
    color : blue;
    text-decoration: underline;

}

#paginationControls button{
    display: inline;
}

.buttonLine{
    color :#6481b7
}

.cardTP {
    flex: 1 1 calc(25% - 16px); /* Permet aux cartes de s'adapter à la taille de leur contenu avec une largeur minimale */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un meilleur rendu visuel */
    margin: 5px;
    padding: 5px;
    border: 1px darkgoldenrod solid;
    text-align: center;
    border-radius: 10px;
    max-width: 150px;
}

.cardTitle{
    border-top-left-radius: 10px;
    border-top-right-radius : 10px;
    margin: -5px -5px 0px -5px;
    font-variant: small-caps;
    font-size: 1.2em;
}

.cardContent{
    padding-top: 5px;
}

.tabContainer{
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border: 1px gainsboro solid;
    padding: 40px;
    border-radius: 10px;
}


.process {
    background-color: gold;
}

.error{
    background-color: orangered;
}

.fact{
    background-color: rgb(147, 229, 184);
}

.fact2{
    background-color: rgb(117, 97, 248);
    color : whitesmoke;
}

.fact3{
    background-color: rgb(134, 226, 247);
    
}

.finished{
    background-color: transparent;
    color :lightgray;
    border :lightgray 1px solid;
}

.tabSection h2{
    margin-bottom: -15px;
    margin-left: 20px;
}

.comment{
    flex: 1 1 100%; /* Permet aux cartes de s'adapter à la taille de leur contenu avec une largeur minimale */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un meilleur rendu visuel */
    margin: 5px;
    padding: 5px;
    border: 1px darkgoldenrod solid;
    border-radius: 10px;
    text-align: center;

}

.cardCommentContent{
    padding: 5px;
    text-align: left;
}

.check{
    margin: 0px;
    border-radius: 10px;
    background: gold;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    padding: 10px 16px;
    letter-spacing: 2px;
    cursor: pointer;
    color: darkblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.welcomeID{
    top: 10px;
    position:absolute;
    text-transform:none;
    right:25px;
}


/**
 * Simple HTML/CSS switch
 */
 .switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background: #72da67;
}
input:checked + .switch::before {
    left: 27px;
    background: #fff;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.element {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .formEl {
    display: flex;
    
  }
  
  .inputEl{
    margin-top:-10px
  }

  .labelEl p {
    margin:10px;
  }
  .aboutUl{
    margin-left: 30px;
  }

  /* SOUS MENU DU NAV */
  .settings-menu {
    margin-right: 80px;
   margin-bottom: -5px;
    position: relative;
    display: inline-block;
}

.settings-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    

.settings-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.settings-dropdown a:hover {
    background-color: #f1f1f1;
}

.settings-menu:hover .settings-dropdown {
    display: block;
}

.settings-icon {
    cursor: pointer;
    width:20px;
}

.deleteStudent{
    font-size:1.8em;
    cursor: pointer;
}

.deleteStudent:hover{
    font-weight: bold;
    color : red;
    cursor: pointer;
}

.monitorBT{
    margin-top: 0px!important;
    display:inline;
    background-color: rgb(64, 163, 64);
    border-radius: 5px;
}

.monitorBT:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#ResultsIndicator{
   display:none; 
   flex-wrap: wrap; 
   width: -webkit-fill-available; 
}

form#downloadResultsForm button{
    display: block;
    text-align: center;
    margin: 0 auto;
}

.selectorContainer{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.linkies{
    color:teal;
    text-decoration: underline;
}

.linkies:hover{
    text-shadow: 2px 2px 1px gainsboro;
}

#test-info{
   
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fill-available;
}