<div class="tabSection">
   <h2>Convocation*</h2> 
    <div class="tabContainer">

        <div class="cardTP">
            <div class="cardTitle process">status</div>
            <div class="cardContent">Started</div>
        </div>

        <div class="cardTP finished">
            <div class="cardTitle">status</div>
            <div class="cardContent">Started</div>
        </div>


        <div class="cardTP">
            <div class="cardTitle fact">started since</div>
            <div class="cardContent">05/05/2024</div>
        </div>

        <div class="cardTP">
            <div class="cardTitle process">confirmed</div>
            <div class="cardContent">80% </div>
        </div>

        <div class="cardTP">
            <div class="cardTitle process">pending</div>
            <div class="cardContent">18% </div>
        </div>

        <div class="cardTP">
            <div class="cardTitle error">error</div>
            <div class="cardContent">2% </div>
        </div>

        <div class="cardTP ">
            <div class="cardTitle fact">sent</div>
            <div class="cardContent">1258</div>
        </div>

    </div>
</div>