<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>SID</th>
            <th>Total score</th>
            <th>Empty Answers</th>
            <th>Result Process</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Les étudiants seront ajoutés ici par JavaScript -->
    </tbody>
</table>